<section class="profile">
    <div class="profile__social">
        <ul class="profile__social--links">
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-github"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </div>
    <!-- Canvas -->
    <canvas class="orb-canvas" style="background-color: transparent;"></canvas>
    <!-- Overlay -->
    <div class="overlay">
        <!-- Overlay inner wrapper -->
        <div class="overlay__inner profile__article">
            <h1 class="profile__article--name text-gradient">Elena Clemente Rentero</h1> <div class="move"><span class="wave">👋</span></div>
            <h2 class="profile__article--title overlay__title">Desarrolladora Web Junior</h2>
            <p class="profile__article--text overlay__description">Desarolladora web actualmente situada en Málaga,
                busco unirme a un
                equipo
                dinámico y colaborativo en el que pueda desarrollar mis habilidades.</p>
            <!-- Buttons -->
            <div class="overlay__btns">
                <button class="overlay__btn overlay__btn--transparent profile__article--button">Contacta
                    conmigo</button>
            </div>
        </div>
        <div class="profile__photo">
            <img class="profile__photo--img" src="./assets/images/photo.jpg" alt="Foto personal" />
        </div>
    </div>
    </div>
</section>