<header class="home">
    <nav class="home__nav">
        <div class="home__nav--logo"><a href="">Elena Rentero</a></div>
        <ul class="home__nav--links">
            <li><a href="">Home</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Skills</a></li>
            <li><a href="">Projects</a></li>
            <li><a href="">Contact</a></li>
        </ul>
    </nav>
</header>

<section class="profile">
    <div class="profile__social">
        <ul class="profile__social--links">
            <li><i class="fa-brands fa-linkedin"></i></li>
            <li><i class="fa-brands fa-github"></i></li>
            <li><i class="fa-brands fa-twitter"></i></li>
        </ul>
    </div>
    <article class="profile__article">
        <h1 class="profile__article--name">Elena</h1>
        <h2 class="profile__article--title">Desarrolladora Web Junior</h2>
        <p class="profile__article--text">Desarolladora web actualmente situada en Málaga, busco unirme a un equipo
            dinámico y colaborativo en el que pueda desarrollar mis habilidades.</p>
        <button class="profile__article--button">Contacta conmigo</button>
    </article>
    <div class="profile__photo">
        <img class="profile__photo--img" src="./assets/images/photo.jpg" alt="Foto personal"/>
    </div>
</section>