.projects {
  height: 1250px;
  &__title {
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--dark-color);
    text-align: center;
    margin: 6rem 0 6rem 0;
  }
  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
  }
  &__article {
    height: 300px;
    width: 300px;
    padding: 2rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.375);
    box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
    border-radius: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.125);
    &--title {
      font-size: 0.875rem;
      font-weight: 700;
      color: var(--dark-color);
      margin-bottom: 2rem;
    }
    &--img{
      border-radius: 10px;
    }
    &--links{
      display: flex;
      margin-top: 1.5rem;
      gap: 3rem;
      padding-left: 0rem;
    }
  }
}

.fa-solid {
  line-height: 1;
}

.fa-solid:hover{
  background-color: linear-gradient(
  45deg,
  var(--base) 25%,
  var(--complimentary2)
);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
color: transparent;
}